<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CadastroPersonagem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AutenticacaoServlet</display-name>
    <servlet-name>AutenticacaoServlet</servlet-name>
    <servlet-class>Servlets.AutenticacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticacaoServlet</servlet-name>
    <url-pattern>/AutenticacaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalhePersonagemServlet</display-name>
    <servlet-name>DetalhePersonagemServlet</servlet-name>
    <servlet-class>Servlets.DetalhePersonagemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalhePersonagemServlet</servlet-name>
    <url-pattern>/DetalhePersonagemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonagensServlet</display-name>
    <servlet-name>PersonagensServlet</servlet-name>
    <servlet-class>Servlets.PersonagensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonagensServlet</servlet-name>
    <url-pattern>/PersonagensServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionNavigationServlet</display-name>
    <servlet-name>SessionNavigationServlet</servlet-name>
    <servlet-class>Servlets.SessionNavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionNavigationServlet</servlet-name>
    <url-pattern>/SessionNavigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionNavServlet</display-name>
    <servlet-name>SessionNavServlet</servlet-name>
    <servlet-class>Servlets.SessionNavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionNavServlet</servlet-name>
    <url-pattern>/SessionNavServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PontosUsuarioServlet</display-name>
    <servlet-name>PontosUsuarioServlet</servlet-name>
    <servlet-class>Servlets.PontosUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PontosUsuarioServlet</servlet-name>
    <url-pattern>/PontosUsuarioServlet</url-pattern>
  </servlet-mapping>
</web-app>